/* Stile generale per pagina*/

.default-mode{
    background-image: linear-gradient(#1A5B92 0%, #16679A 10%,#CAF0F8 70%,#FFFF 100%);
    background-attachment: fixed;
}

.dark-mode{
    background-image: none;
    background-color: black;
    color: beige;
}

.centro{
    text-align: center;
}

.max-height{
    height: 100%;
}

.max-width{
    width: 100%;
}

.main{
    margin: 0px 100px;
}

/*Stile per intestazione e navbar*/
.intestazione{
    background-color: rgb(29, 78, 137, 0.6);
    margin: 0px;
    border: 0px;
    padding: 11px 100px;
}


.logo-name{
    color: white;
}

.logo-meteo-intestazione{
    width: 60px;
    height: 60px;
}

.search-input{
    text-align: center;
    width: 70%;
    padding: 4px;
    padding-right: 20px;
    border-style: solid;
    border-color: #0F80AA;
    border-radius: 20px;
    background: #0F80AA url(Images/General/icons-search-25.png) no-repeat right;
    background-origin: content-box;
    padding-right: 15px;
    color: white;
}

.search-input::placeholder{
    color: white;  
}

.button-lan{
    background-color: rgb(29, 78, 137, 0.1);
    color: white;
}

.button-lan:hover{
    color: white;
}

.ricently-searches{
    height: 80px;
}

.navbar-custom{
    background-image: none;
    background-color: blue;
    color: white;
}

/*Stile Info meteo*/
.card-custom{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.card-weather{
    border-radius: 8px;
}

.card-info-weather{
    border-left: 0px;
    border-right: 0px;
}
/* Stile per Anteprima meteo */

.containerPrevisioni{
    margin-top: 10px;
    padding: 15px;
}

.svgMeteo{
    height: 140px;
    width: 140px;
}

.title-meteo{
    font-size: 30px;
    color: #212529;
    text-decoration: none;
}

.title-meteo:hover{
    color: #212529;
    text-decoration: underline;
}

.temperatura-meteo{
    margin-top: -8px;
    font-style: inherit;
    color: #343A40;
    font-size: 30px;
}

/* Stile per Notizie */

.dim-imm-notizia{
    height: 250px;
    width: 200px;
}

@media(max-width:992px){
    .search-input{
        width: 100%;
    }

    .logo-name{
       display: none;
    }

}



@media (max-width: 768px) {
    #myCarousel{
        height: 250px;
    }

    .sizeImg{
        height: 250px;
    }
}