<!DOCTYPE html>
<html lang="ita">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage | Previsioni Meteo</title>
    
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel-rtl/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css">

    <!--javascript per video
    <link href="vi-lazyload.min.css" rel="stylesheet">
    <script src="vi-lazyload.min.js"></script>
    -->

    <!--link per inserire meta tag in formato json-->
    <script src="json/meta.json"></script>

    <!-- toggle-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body class="default-mode">
    <!--serve per inviare le coordinate prese-->
    <form id="coordinates" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
    </form>

    <!-- Intestazione -->
    <div class="container-fluid intestazione">
        <div class= "row align-items-center">
            <div class="col">
                <a class="navbar-brand" href="#">
                    <img src="Images/Svg-meteo/Sole.svg" alt="weather logo" width="60" height="60" class="d-inline-block align-text-center me-3 logo-meteo-intestazione">
                    <span class="logo-name">Easy Meteo</span> 
                </a>
            </div>
            <div class="col-6 text-center"> <!--devo sistemre-->
                <div class="container align-items-center" > 
                    <input role="textbox" id="" class="search-input" type="text" placeholder="Cerca città o CAP " value="">
                </div>
            </div>
            <div class="col text-end">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle text-center align-items-center button-lan" data-bs-toggle="dropdown" aria-expanded="false">
                    <!--Mettere icona-->
                    IT | °C
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <li><span class="dropdown-item-text">Seleziona Lingua e Temperatura</span></li>
                      <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                      <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- News formato marquee-->
    <div class="container-fluid container-news">
        <marquee class="news-content"> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p> <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto </p> <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam </p> 
        </marquee> 
    </div>

    <!--Navbar-->   
    <nav class="nav nav-pills flex-column flex-sm-row navbar-pages">
      <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="index.ejs">Oggi</a>
      <a class="flex-sm-fill text-sm-center nav-link  active" href="#">Orario</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#">5 giorni</a>
    </nav>

    <!-- change mod-->
    <div class="container-fluid recently-searches">
        <div class="form-check form-switch">
          <input class="form-check-input" id="change-mode" type="checkbox" role="switch">
        </div>
    </div>

    <!-- card by hour -->
    <main class="main">
        <div class="card mt-3 card-weather card-hour">
            <div class="card-body card-custom">
            <div class="card-intestazione" id="card-hour-header">
                <h2>Previsione meteo per i prossimi giorni</h2>
                <h5>Luogo Ora</h5>
            </div>
            <h2 class="card-title p-3" id="card-hour-temperature"></h2>
            <div class="card-group">
                <div class="card card-info-weather me-3">
                <ul class="list-group list-group-flush" id="insert">
                    <li class="list-group-item">
                        <button class="mostra" id="mostra1">
                            Giorno data mese
                        </button>
                    </li>
                </ul>
                <ul class="list-group list-group-flush" id="insert2">
                    <li class="list-group-item">
                        <button class="mostra" id="mostra2">
                            Giorno data mese
                        </button>
                    </li>
                </ul>
                <ul class="list-group list-group-flush" id="insert3">
                    <li class="list-group-item">
                        <button class="mostra" id="mostra3">
                            Giorno data mese
                        </button>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        
    </main>
    <script src="js/script.js"></script>
    <script>

        $(document).ready(function(){
            $("#mostra1").click(function(){
                $(".nascosta1").toggle();
            });
        });

        $(document).ready(function(){
            $("#mostra2").click(function(){
                $(".nascosta2").toggle();
            });
        });

        $(document).ready(function(){
            $("#mostra3").click(function(){
                $(".nascosta3").toggle();
            });
        });
        

        document.addEventListener('DOMContentLoaded', sendRequestAPI());
    
        async function sendRequestAPI() {
    
            //document.getElementById("form").setAttribute("action", "/weatherAPI");
    
            //geoloc
            navigator.geolocation.getCurrentPosition(position=>{
                var { latitude, longitude } = position.coords;
                document.getElementById("latitude").value = latitude;
                document.getElementById("longitude").value = longitude;
                //document.getElementById("form").submit();
            }, error =>{
                console.warn(`ERROR(${error.code}): ${error.message}`);
                //default cordinates (Milano)
                var latitude  = 45.4642;
                var longitude = 9.1898;
                console.log(latitude);
                document.getElementById("latitude").value = latitude;
                document.getElementById("longitude").value = longitude;
                //document.getElementById("form").submit();
            });
    
    
            return false;
        }
    
        sendRequestAPI()
    </script>
</body>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</html>