/* Stile generale per pagina*/

.default-mode{
    background-image: linear-gradient(#1A5B92 0%, #16679A 10%,#CAF0F8 70%,#FFFF 100%);
    background-attachment: fixed;
}

.dark-mode{
    background-image: none;
    background-color: rgb(1, 1, 31);
    color: beige;
}

.centro{
    text-align: center;
}

.max-height{
    height: 100%;
}

.max-width{
    width: 100%;
}

.main{
    margin: 0px;
    padding-left: 16%;
    padding-right: 16%
}

.right{
    text-align: right;
}
.left{
    text-align: left;
}
/*Stile per intestazione e navbar*/
.intestazione{
    background-color: rgb(29, 78, 137, 0.6);
    margin: 0px;
    border: 0px;
    padding: 11px 100px;
}

.logo-name{
    color: white;
}

.logo-meteo-intestazione{
    width: 60px;
    height: 60px;
}

.search-input{
    text-align: center;
    width: 70%;
    padding: 4px;
    padding-right: 20px;
    border-style: solid;
    border-color: #0F80AA;
    border-radius: 20px;
    background: #0F80AA url(../Images/General/icons-search-25.png) no-repeat right;
    background-origin: content-box;
    padding-right: 15px;
    color: white;
}

.search-input::placeholder{
    color: white;  
}

.button-lan{
    background-color: rgb(29, 78, 137, 0.1);
    color: white;
}

.button-lan:hover{
    color: white;
}

.ricently-searches{
    height: 80px;
}

.navbar-custom{
    background-image: none;
    background-color: blue;
    color: white;
}

.container-news{
    background:rgba(0, 0, 255, 0.03);
    height: 40px;
    padding: 0 2%;
    text-align: center;
}

.container-news marquee{
    font-size: 18px;
    margin-top: 5px
}
.news-content p{
    margin-right: 41px;
    color: white;
    display: inline
}

/* Stile Navbar*/

.navbar-pages {
    background: rgb(29, 78, 137, 0.9);
}

.navbar-pages>a {
    color: #fff
}

.navbar-pages>a:hover {
    border-bottom: 2px solid #fff;
    color: white;
}

.navbar-pages>a::marker {
    border-bottom: 2px solid #fff;
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    border-bottom: 2px solid #fff;
    background-color: transparent;  
}

/*Stile Info meteo*/
.card-weather{
    border-radius: 11px;
}

.card-custom{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.card-weather-generic{
    border: 0px;
    background-image: url("../Images/General/cielo-sereno.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-info-weather{
    border-left: 0px;
    border-right: 0px;
}

.card-header-custom{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    margin: 0px;
}

.card-header:first-child {
    border-radius: calc(.67rem - 0px) calc(.67rem - 0px) 0 0;
}

.card-now > .card-title {
    color: white;
    font-size: 800%;
}

.card-now > .card-text {
    color: white;
    font-weight: bold;
    font-size: 170%;
}

.icon-weather{
    height: 100%;
    width: auto;
}

.card-intestazione{
    font-weight: bold;
    padding-left: 16px;
    font-size: 18px;
}

#card2-temperature{
    font-size: 350%;
}

.icon-info{
    height: 20px;
    width: 20px;
}

.list-group-flush > .list-group-item:last-child{
    border: 0px;
    border-end-end-radius: calc(.67rem - 0px) calc(.67rem - 0px);
}

.card-info-weather{
    border-bottom: 0px;
    border-end-end-radius: 11px;
}

#card3-header{
    font-weight: bold;
    border: none;
    background-color: white;
}

.card3{
    border: 0px;
    border-radius: 11px;
}

.card3 > .card-body > .card-title{
    font-size: 15px;
}

.card-text-temperature{
    font-size: 40px;
    margin: 0px;
    color: darkblue;
}

.card3 > .card-body > .img-fluid{
    height: 45%;
    width: auto;
}

.btn-ore{
    margin-top: 10px;
    border: 0px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

/* stile card orario*/
.card-hour{
    border-radius: 11px;
}
.icon-freccia{
    position: absolute;
    width: 20px;
    height: auto;
    right: 0;
}
.mostra{
    width: 100%;
    border: none;
    background-color: white;
    font-weight: bold;
    text-align: left;
    padding: 1px;
}

.nascosto{
    display: none;
    border: rgb(210, 207, 207) 1px solid;
    border-radius: 11px;
    margin: 20px 0px 10px 0px;
}
.icon-body-our{
    height: max-content;
    width: 18px;
    margin-right: 5px;
}

.icon-head-our{
    height: max-content;
    width: 18px;
    margin-right: 5px;
}

.span{
    margin-right: 10px;
}

.img-head-our{
    height: auto;
    width: 40px;
}

.colHeadAy{
    padding-top: 7px;
}

.temp{
    font-size:x-large;
    font-weight: bold;
}

.linea{
    display: inline;
}

/* stile per footer */
.footer{
    background-color: white;
    padding: 150px
}

/* Stile per Anteprima meteo */

.containerPrevisioni{
    margin-top: 10px;
    padding: 15px;
}

.svgMeteo{
    height: 140px;
    width: 140px;
}

.title-meteo{
    font-size: 30px;
    color: #212529;
    text-decoration: none;
}

.title-meteo:hover{
    color: #212529;
    text-decoration: underline;
}

.temperatura-meteo{
    margin-top: -8px;
    font-style: inherit;
    color: #343A40;
    font-size: 30px;
}

/* Stile per Notizie */

.dim-imm-notizia{
    height: 250px;
    width: 200px;
}

@media(max-width:992px){
    .search-input{
        width: 100%;
    }

    .logo-name{
       display: none;
    }

}




@media (max-width: 1200px) {
    .main{
        padding-left: 10%;
        padding-right: 10%
    }
}
@media (max-width: 992px) {
    .main{
        padding-left: 5%;
        padding-right: 5%
    }
}
@media (max-width: 768px) {
    .main{
        padding-left: 2%;
        padding-right: 2%
    }
}